#about-section {
	background: #01101c;
	height: 90vh;
}
#about-section .about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#about-section p {
	color: #aaa;
	text-align: justify;
	max-width: 450px;
}

#about-section img {
	border-radius: 1rem;
	width: 450px;
	margin: 1rem;
}

@media screen and (max-width: 900px) {
	#about-section img {
		display: none;
	}
}
