/* Adopted design criteria: Mobile first */

.contact-form {
	/* General */
	--form-elements-max-width: 600px;
	--form-elements-border: none;
	--form-elements-border-radius: 0.25rem;
	/* Background */
	--form-bg: #222;
	--form-elements-bg: #444;
	--form-elements-border: none;
	--form-elements-hover-bg: #666;
	--form-elements-hover-border: none;
	/* Text */
	--form-text-color: #eee;
	--form-text-placeholder: #aaa;
	--form-text-padding: 0.375rem 0.75rem;
	/* Title */
	--form-title-font-size: 2rem;
	--form-title-color: #eee;
}

.contact-form {
	background: var(--form-bg);
	font-family: var(--form-font-family-primary);
	padding: 1.5rem;
	text-align: center;
	max-width: var(--form-elements-max-width);
	margin: 0 auto;
}
.contact-form .form-group {
	display: flex;
	max-width: var(--form-elements-max-width);
	align-items: center;
	margin: 0 auto;
	position: relative;
}

/* Title */
.contact-form h2 {
	color: var(--form-title-color);
	font-size: var(--form-title-font-size);
	margin: 0.5rem 0;
	text-align: center;
	font-weight: 300;
}
/* Muted text */
.contact-form small {
	color: #6c757d;
	margin-top: 0.25rem;
	padding: var(--form-text-padding);
	text-align: left;
	font-size: 0.875rem;
}
/* Input */
.contact-form input {
	color: var(--form-text-color);
	background: var(--form-elements-bg);
	border: var(--form-elements-border);
	line-height: 1.5;
	margin-top: 0.75rem;
	font-size: 1rem;
	height: 48px;
	padding: var(--form-text-padding);
	border-radius: var(--form-elements-border-radius);
	width: 100%;
}
/* Message */
.contact-form textarea {
	resize: none;
	background: var(--form-elements-bg);
	border: var(--form-elements-border);
	line-height: 1.5;
	margin-top: 1.5rem;
	padding: var(--form-text-padding);
	font-family: var(--form-font-family-primary);
	font-size: 1rem;
	border-radius: var(--form-elements-border-radius);
	color: var(--form-text-color);
	width: 100%;
}

.contact-form .form-group i {
	margin-left: 0.5rem;
	font-size: 1.5rem;
	position: absolute;
	right: -2rem;
	top: 40%;
}

.contact-form .hide {
	display: none;
}

/* Submit button */
.contact-form #form-submit-btn {
	margin: 1.5rem auto;
	width: 100px;
	height: 50px;
	border-radius: 2rem;
	font-size: 1.25rem;
	margin-top: 1rem;
	background-color: #0cecdd;
	border: 1px solid #0cecdd;
	color: #252525dd;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
}
.contact-form #form-submit-btn:hover {
	background-color: #252525dd;
	color: #0cecdd;
	transform: scale(1.05) translateY(5px);
}

/* Active states */
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:active,
.contact-form textarea:active,
.contact-form input:hover,
.contact-form textarea:hover {
	outline: none;
	background: var(--form-elements-hover-bg);
	transform: scale(1.01);
	border: var(--form-elements-hover-border);
}

/* Placeholders */
.contact-form input::-webkit-input-placeholder {
	color: var(--form-text-placeholder);
}
.contact-form textarea::-webkit-input-placeholder {
	color: var(--form-text-placeholder);
}

/* Style valid */

.is-valid {
	border: 2px solid #9eff91;
}
.is-invalid {
	border: 2px solid #f2796e;
}

.icon-error {
	color: #eb5353;
	font-size: 20px;
	display: inline-block;
}

.icon-success {
	color: #36ae7c;
	font-size: 20px;
	display: inline-block;
}

.hide {
	display: none;
}

.error-feedback {
	color: #eb5353;
	padding-top: 0.25rem;
	text-align: left;
}
