@import "root.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--font-family-primary);
	color: var(--font-color-primary);
	height: 100vh;
}

body {
	background-color: var(--bg-primary);
}

/* Scroll bar style */
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
::-webkit-scrollbar-track {
	background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
	background: var(--bg-secondary);
	border-radius: var(--br-m);
}
