/* Adopted design criteria: Any */
.modal {
	--accent-color: #00b7c2;
}

.modal {
	margin: auto;
	border-radius: 1rem;
	background-color: #222;
	border: 1px solid #333;
	box-shadow: 0.25rem 0.25rem 0.5rem #111;
	text-align: center;
	max-width: 600px;
	color: #aaa;
	padding: 1.5rem;
}
.modal-pills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 0.75rem;
	margin-bottom: 1rem;
}
.modal-header {
	text-align: left;
	margin-bottom: 1rem;
	max-width: 500px;
	margin: auto;
}
.modal-header p {
	margin: auto;
	text-align: justify;
}
.modal-pill {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.9rem;
	background-color: #222831;
	color: #bbb;
	border-radius: 2rem;
	padding: 0.65rem;
	border: 1px solid var(--accent-color);
}
.modal h2 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	margin-bottom: 0.5rem;
}
.modal button {
	width: 100px;
	height: 50px;
	border-radius: 2rem;
	font-size: 1.5rem;
	margin: 1rem 0;
	background-color: var(--accent-color);
	border: none;
	box-shadow: 0.25rem 0.25rem 0.5rem #111;
	color: #fff;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
}
.modal button:hover {
	background-color: #222;
	color: #fff;
	border: 1px solid var(--accent-color);
	transform: scale(1.05);
}
.modal::backdrop {
	background: rgba(0, 0, 0, 0.7);
}

.modal iframe {
	display: flex;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 2rem;
	max-width: 300px;
}

.modal img {
	display: flex;
	margin: 0 auto;
	padding: 1rem;
	max-width: 300px;
	border-radius: 2rem;
}

@media screen and (max-width: 450px) {
	.modal-header p {
		font-size: 1rem;
		max-width: 250px;
	}
	.modal {
		margin: 1rem;
		padding: 0;
	}
}
