/* TODO Decide if 'Milonga' font is needed */
@import url("https://fonts.googleapis.com/css2?family=Milonga&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300&display=swap");

:root {
  /* Paleta Argentina */
  /* #75aadb */
  /* #ffffff */
  /* #fcbf45 */
  /* #843511 */
  /* #ffffff */
  /* #75aadb */

  /* TODO Agregar variables */
  --color-primary: #75aadb;
  --color-secondary: #fcbf45;
  --color-active: #5c88b1;
  --color-light-primary: #ffffff;
  --color-light-secondary: #cccccc;

  --font-family-primary: "Open Sans", sans-serif;

  --font-size-base: 1rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-p: 1.15rem;

  --font-weight-base: 400;
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-h3: 500;
  --font-weight-p: 400;

  --text-light-color-primary: #fff;
  --text-light-color-secondary: #ccc;
  --text-dark-color-primary: #000;
  --text-dark-color-secondary: #666;

  --bg-primary: #222222;
  --bg-secondary: #444444;
  --bg-black: #0f0f0f;
  --bg-img: url(../img/bg.jpg);

  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-xxl: 2rem;
}

/* ----------------- */
/*      General      */
/* ----------------- */
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--text-light-color-primary);
  font-family: var(--font-family-primary);
  background-color: var(--bg-primary);
  overflow-x: hidden;
}
/* Scroll bar style */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  /* TODO: Select the color of the scrollbar */

  background: var(--bg-secondary);
  /* background: linear-gradient(
    to bottom,
    rgba(117, 170, 219, 1) 25%,
    rgba(255, 255, 255, 1) 40%,
    rgba(252, 191, 69, 1) 50%,
    rgba(255, 255, 255, 1) 60%,
    rgba(117, 170, 219, 1) 75%
  ); */
  border-radius: var(--border-radius-sm);
  border-radius: var(--border-radius-xxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}
p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  color: var(--text-light-color-secondary);
}

/* ----------------- */
/*       Utils       */
/* ----------------- */

/* Underline Effect */
.underline-hover {
  cursor: pointer;
}
.underline-hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.4s;
}
.underline-hover:hover::after {
  content: "";
  position: absolute;
  background-color: var(--color-light-primary);
  left: 0;
  right: 0;
  bottom: -2px;
  transition: 0.4s;
  width: 100%;
}

/* Parallax Effect */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Button class */
.btn-t-1 {
  font-size: 1.25rem;
  border: 1px solid var(--color-light-primary);
  position: relative;
  background-color: transparent;
  color: var(--text-light-color-primary);
  padding: 15px 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-t-1:after {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-primary);
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.2s;
  z-index: -1;
}
.btn-t-1:hover:after {
  top: 0px;
  left: 0px;
  background-color: var(--color-primary);
}
.btn-t-1:active {
  background-color: var(--color-active);
}

/* ----------------- */
/*       Navbar      */
/* ----------------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  text-align: right;

  /* TODO Select the gradient */
  background: linear-gradient(to right, #ff00cc, #333399);
  background: linear-gradient(to right, #4ecdc4, #556270);
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  background: linear-gradient(to right, #000428, #004e92);
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  background: linear-gradient(to right, #3a7bd5, #3a6073);
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
  background: linear-gradient(to right, #403a3e, #be5869);
  background: linear-gradient(to right, #e53935, #e35d5b);
  background: linear-gradient(to right, #6441a5, #2a0845);
  background: linear-gradient(to right, #414d0b, #727a17);
  background: linear-gradient(to right, #485563, #29323c);
  background: linear-gradient(to right, #141e30, #243b55);
  background: linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #7b43977f, #dc24307f);
  background: linear-gradient(to right, #00c6ff7f, #0072ff7f);
  background: rgba(0, 0, 0, 0.25);
  background: transparent;

  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
nav .nav-wrapper {
  padding: 0 3rem;
}
nav a {
  position: relative;
  text-decoration: none;
  margin: 0 1rem;
  color: var(--text-light-color-primary);
  font-size: 1.25rem;
}

/* ----------------- */
/*       Header      */
/* ----------------- */
header {
  width: 100%;
  height: 100vh;
  background: url(../img/bg.jpg);
}
header h1 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 0;
}
header div {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 30px 30px 1px rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(7px);
  transition: 0.5s;
}
header div::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  transition: 0.6s ease-in-out;
}
header div:hover {
  backdrop-filter: none;
  box-shadow: none;
  transform: translate(-50%, -50%) scale(1.1);
}
header div:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-primary);
  z-index: -1;
}

header div:hover::before {
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: var(--bg-black);
  z-index: -1;

  /* Starred background */
  /* background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
}
header p {
  margin-bottom: 2rem;
}

/* ----------------- */
/*        Main       */
/* ----------------- */
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  position: relative;
  text-decoration: none;
}

/* ----------------- */
/*      Timeline     */
/* ----------------- */
.timeline {
  position: relative;
  padding: 2rem 0;
  margin: 2rem 0;
  list-style: none;
  transition: 0.5s;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: var(--color-primary);
  transition: 0.5s;
}
