@import "root.css";

/* Adopted design criteria: Mobile first */
.card {
	/* Private */
    /* TODO: Use vars */
    /* Add more specific vars here */
}

.card-container {
	display: flex;
	justify-content: space-evenly;
}

.card {
	width: 200px;
	height: 100%;
	border: 2px solid #444;
	border-radius: 0.65rem;
	margin: 1rem 0;
	transform: skew(0deg, -5deg);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	transition: all 0.6s ease-in-out;
}

.card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	border: 2px solid #333;
	transition: all 0.6s ease-in-out;
	transform: skew(0deg, 0deg);
}
.card:hover::after {
	content: "";
	background: linear-gradient(to right, #4776e6, #8e54e9) repeat 0% 0% / 300% 100%;
	position: absolute;
	inset: -3px;
	border-radius: 16px;
	filter: blur(18px);
	z-index: -1;
}
.card:hover .card-header,
.card:hover .card-body,
.card:hover .card-footer {
	transform: skew(0deg, 0deg);
	box-shadow: none;
	border: none;
}
.card:hover .card-footer {
	background-color: #1b0a20;
}
.card-img {
	width: 100%;
	border-radius: 0.6rem 0.6rem 0 0;
}
.card-header {
	font-weight: bold;
	border-radius: 0.65rem 0.65rem 0 0;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	transform: translate(0.5rem, -0.35rem);
	transition: all 0.3s;
	box-shadow: -0.5rem 0rem 2rem #55555580;
	padding: 0.5rem;
	background: #fff;
}
.card-body {
	transform: translate(0.5rem, 0.25rem);
	transition: all 0.3s;
	padding: 1.5rem 1rem;
	background-color: #191919a4;
	border: 1px solid #555;
}
.card-body .card-title {
	margin-bottom: 0.5rem;
}
.card-footer {
	background: #111;
	box-shadow: -0.5rem -0.5rem 5rem #9b19ca9f;
	border: 1px solid #555;
	border-radius: 0 0 0.55rem 0.55rem;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	min-height: 50px;
	transition: all 0.3s;
	transform: translate(0.6rem, 0.8rem);
	display: flex;
	align-items: center;
}

/* TODO: Check breakpoints */
/* Smartphones ----------- */
@media only screen and (max-width: 425px) {
}
/* Tablets and iPads ----------- */
@media only screen and (min-width: 426px) and (max-width: 768px) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 769px) {
}
