@import "root.css";

/* Adopted design criteria: Mobile first */

.contact-form {
    /* General */
	--form-elements-max-width: 600px;
	--form-elements-border: none;
	/* Background */
	--form-bg: #2b2b2b;
	--form-elements-bg: #1f1f1f;
	--form-elements-active-bg: #3b3b3b;
	/* Text */
	--form-text-color: #bbb;
	--form-text-placeholder: #777;
	--form-text-padding: 0.375rem 0.75rem;
	/* Title */
	--form-title-font-size: 1.5rem;
	--form-title-color: #ffffff;
}

.contact-form {
	background: var(--form-bg);
	font-family: var(--form-font-family-primary);
	padding: 1.5rem;
}
.contact-form .form-group {
	display: flex;
	flex-direction: column;
	max-width: var(--form-elements-max-width);
	margin: 0 auto;
}

/* Title */
.contact-form h3 {
	color: var(--form-title-color);
	font-size: var(--form-title-font-size);
	margin: 0.5rem 0;
	text-align: center;
}
/* Muted text */
.contact-form small {
	color: var(--font-color-muted);
	margin-top: 0.25rem;
	padding: var(--form-text-padding);
	text-align: left;
	font-size: 0.875rem;
}
/* Input */
.contact-form input {
    color: var(--form-text-color);
	background: var(--form-elements-bg);
	border: var(--form-elements-border);
	line-height: 1.5;
	margin-top: 0.75rem;
    font-size: 1rem;
	height: 48px;
	padding: var(--form-text-padding);
}
/* Message */
.contact-form textarea {
	resize: none;
	background: var(--form-elements-bg);
	border: var(--form-elements-border);
	line-height: 1.5;
	margin-top: 1.5rem;
	padding: var(--form-text-padding);
	font-family: var(--form-font-family-primary);
	font-size: 1rem;
	color: var(--form-text-color);
}

/* Submit button */
.contact-form #form-submit-btn {
	margin: 1.5rem auto;
}

/* Active states */
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:active,
.contact-form textarea:active,
.contact-form input:hover,
.contact-form textarea:hover {
	outline: none;
	box-shadow: var(--form-3D-effect-outset);
	background: var(--form-elements-active-bg);
	transform: scale(1.01);
}

/* Placeholders */
.contact-form input::-webkit-input-placeholder {
	color: var(--form-text-placeholder);
}
.contact-form textarea::-webkit-input-placeholder {
	color: var(--form-text-placeholder);
}
