:root {
	--font-family-primary: "Open sans", sans-serif;

	--font-color-primary: #eee;
	--font-color-secondary: #111;
	--font-color-muted: #6c757d;

	--font-size-xxl: 2.75rem;
	--font-size-xl: 2.5rem;
	--font-size-l: 1.5rem;
	--font-size-m: 1.25rem;
	--font-size-s: 1rem;
	--font-size-xs: 0.85rem;

	--br-xl: 2rem;
	--br-l: 1rem;
	--br-m: 0.5rem;
	--br-s: 0.25rem;

	--bg-primary: #121212;
	--bg-secondary: #232323;
}
